<!DOCTYPE html>
<html>
<head>
    <title>Maasai Mara National Park</title>
    <link rel="stylesheet" href="static\style1.css">

</head>
<body>
    <div class="container">
        <div class="header-top">
        </div>
        <div class="logo">
            <img src="static\photos\logo.png" alt="Company Logo">
        </div>
        <h1>Welcome to Ngary's Tour and Travel Adventures</h1>
        <a href="/">Return to Home</a>

    </div>
    <h1>Maasai Mara National Park</h1>
    <div class="mySlides fade">
        <div class="overlay">
            <div class="text">Explore the Best Magical Gameparks with us</div>
            <img class="mySlides" src="static\photos\maasaimara.jpg" alt="" height="500", width="100%">
        </div>
        
    </div>
    <p><h2> Maasai Mara is a wildlife paradise in southwestern Kenya. 
        It's famed for the Great Migration when millions of wildebeest, zebras, and gazelles cross from Tanzania.
        The park offers thrilling safaris with the Big Five and numerous other species.
         You'll be awestruck by the vast savannahs, the Maasai culture, and unforgettable sunsets</h2></p>
    
    <!-- Add more detailed information, images, and attractions here -->

    
    <div class="image-gallery">
        <div class="image-container">
            <img src="static\photos\maasai_mara\4.jpeg" alt="Image 1">
            <div class="image-text">Dean of lions waiting for the wildebeest</div>
        </div>
    
        <div class="image-container">
            <img src="static\photos\maasai_mara\7.jpeg" alt="Image 2">
            <div class="image-text">Millions of wildebeest migrating from Tanzania to Kenya</div>
        </div>
    
        <!-- Repeat this structure for more images -->
    </div>

    <div class="separator"></div>

    <div class="scrollable-gallery">
        <div class="image-container">
            <img src="static\photos\maasai_mara\1.jpeg" alt="Image 2">
            <div class="image-text">Millions of wildebeest migrating from Tanzania to Kenya</div>
        </div>
        <div class="image-container">
            <img src="static\photos\maasai_mara\2.jpeg" alt="Image 2">
            <div class="image-text">Millions of wildebeest migrating from Tanzania to Kenya</div>
        </div>

    </div>
    
</body>
</html>
