<!-- registration.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <form method="post" action="/registration">
            <!-- Name -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <!-- Phone Number -->
            <label for="phone_number">Phone Number:</label>
            <input type="tel" id="phone_number" name="phone_number" required>

            <!-- Email -->
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <!-- Password -->
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" minlength="8" required>

            <!-- Gender -->
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <!-- Add more options as needed -->
            </select>

            <!-- National ID -->
            <label for="national_id">National ID:</label>
            <input type="text" id="national_id" name="national_id" required>

            <!-- Nationality -->
            <label for="nationality">Nationality:</label>
            <input type="text" id="nationality" name="nationality" required>

            <input type="submit" value="Register">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
