<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Quotation Generated Successfully</h1>
    <p>{{ quotation }}</p>
    <a href="/generate_quotation">Generate Another Quotation</a>
    <a href="/">Return to Home</a>
    <a href="/client_registration">Register and book</a>
    </div>
    
</body>
</html>

