<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Success</title>
</head>
<body>
    <h1>Booking Successful</h1>
    <p>Booking Details:</p>
    <ul>
        <li>Park Choice: {{ booking_details.park_choice }}</li>
        <li>Number of People: {{ booking_details.num_people }}</li>
        <li>Number of Days: {{ booking_details.num_days }}</li>
        <li>Accommodation Choice: {{ booking_details.accommodation_choice }}</li>
        <li>Transportation Choice: {{ booking_details.transportation_choice }}</li>
        <li>Ages: {{ booking_details.ages }}</li>
        <li>Quotation: {{ booking_details.quotation_text }}</li>
    </ul>
</body>
</html>
